body {
  background-color: #ebf2e8;
  color: #214341;
}

.App {
  text-align: center;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
